#Voir le commentaire au début du fichier Router.php


# - On active la réecriture d'URL
RewriteEngine On

# - Définition d'une variable d'environnement

SetEnv BASE_PATH "/McToys/tw3--annee-2020-2021--projet--groupe_50/public"

# - Permet de vérifier que si un dossier (-d) ou un fichier (-f) n'existe pas,
# - alors on continue quand même la redirection d'URL
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# - Toutes les requêtes sont redirigées vers ce lien

RewriteRule ^(.*)$ /McToys/tw3--annee-2020-2021--projet--groupe_50/public/index.php?url=$1 [NC,L]